/* ----------Variables----------- */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navyblue: #2e2f42;
    --cloud: #f4f4fd;
    --slate: #434455;
    --white: #FFF;
    --green: #31d0aa;
    --lightslate: #8E8F99;

}
/* -------------Body----------------- */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    font-size: 16px;

    background-color: var(--white);
}
.link {
    text-decoration: none;
}

/* -----------Header------------ */
.header-logo{
    color: var(--iris, #4d5ae5);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
}
.logo {
    color: var(--navyblue, #2e2f42);

}
.list{
    list-style: none;
}
.header-list {

}
.header-item {

}
.header-nav-link {
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--ocean, #404bbf);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-contacts {

font-style: normal;

}
.contacts-link {
    color: var(--slate, #434455);
        font-size: 16px;

        line-height: 1.5;
        letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
color: var(--ocean, #404bbf);
}


/* ------------Hero------------- */
.hero {
    background: var(--navyblue, #2E2F42);
}

.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    color: var(--white, #FFF);
    background: var(--iris, #4D5AE5);
    cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--white, #FFF);
    background: var(--ocean, #404BBF);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}
/* -----------Advantages----------------- */
.advantages-subtitle {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages-desc {
    color: var(--slate, #434455);
        font-size: 16px;

        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* ----------Applications----------------- */


.applications-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;


}

/* ------------Team------------------ */
.team {
    background-color: var(--cloud);
}

.team-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team-list {
}

.team-item {
    background-color: var(--white);
}



.team-name {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.team-desc {
        color: var(--slate, #434455);
            font-size: 16px;

            line-height: 1.5;
            letter-spacing: 0.02em;
}
/* -------------Footer------------------ */
.footer {
    background-color: var(--navyblue, #2e2f42);
}

.footer-logo {
    color: var(--cloud, #f4f4fd);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-text {
    color: var(--cloud, #f4f4fd);
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -----------Portfolio-------------- */

.portfolio-title {
        color: var(--navyblue, #2e2f42);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
}

.filter-list {
        color: var(--navyblue, #2e2f42);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
}

.filter-btn {
    color: var(--iris, #4d5ae5);
    background-color: var(--cloud, #f4f4fd);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--white);
    background-color: var(--ocean, #404bbf);
}



.products-subtitle {
        color: var(--navyblue, #2E2F42);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
}

.products-desc {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}